.micromobility {
  text-align: center;
  vertical-align: top;
}

.micromobility .group {
  display: inline-block;
  text-align: left;
  margin: 0 20px;
}

.micromobility .group .icon {
  width: 44px;
  height: 44px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 5px;
}

.micromobility .group .vehicle {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  vertical-align: middle;
}

.micromobility .group .vehicle.far-away {
  opacity: 0.35;
}