.birthdays .container {
  text-align: center;
}

.birthdays .birthday {
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

.birthdays .birthday .name {
  float: left;
}

.birthdays .birthday.upcoming {
  opacity: 0.5;
}

.birthdays .birthday .icon {
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-top: -3px;
}