.netatmo .container {
  text-align: center;
}

.netatmo .metrics {
  float: left;
}

.netatmo .station {
  display: inline-block;
  width: 300px;
  height: 100%;
  vertical-align: top;
  text-align: left;
  margin: 0 10px;
}

.netatmo .station .name {
  font-size: 20px;
  color: #AAA;
}

.netatmo .temperature {
  font-size: 60px;
}

.netatmo .metric {
  float: left;
  position: relative;
  font-size: 20px;
  height: 25px;
  vertical-align: middle;
  padding: 2px 0;
  margin-right: 12px;
}

.netatmo .metric .icon {
  height: 16px;
  width: 16px;
  margin-top: 3px;
  display: inline-block;
  float: left;
}

.netatmo .metric .quality {
  height: 16px;
  width: 16px;
  display: inline-block;
  float: left;
  margin-top: 3px;
  border-radius: 8px;
  filter: blur(5px);
}

.netatmo .metric .quality.good {
  background-color: #a9ff9e;
}

.netatmo .metric .quality.fair {
  background-color: #fffc60;
}

.netatmo .metric .quality.inferior {
  background-color: #ff9b28;
}

.netatmo .metric .quality.bad {
  background-color: #ff5151;
}

.netatmo .metric .value {
  display: inline-block;
  padding: 0 5px;
}

.netatmo .metric .unit {

}