.netatmo .container {
  text-align: center;
}

.netatmo .station {
  display: inline-block;
  width: 240px;
  height: 100%;
  vertical-align: top;
  text-align: left;
  margin: 0 10px;
}

.netatmo .station .name {
  font-size: 20px;
  color: #AAA;
}

.netatmo .station .metric.prominent {
  text-align: left;
  float: none;
  padding: 0;
  font-size: 60px;
  height: auto;
}

.netatmo .station .metrics {
  float: left;
}

.netatmo .station .metric {
  float: left;
  position: relative;
  font-size: 20px;
  height: 25px;
  vertical-align: middle;
  padding: 2px 0;
  margin-right: 12px;
}

.netatmo .station .metric .icon {
  height: 16px;
  margin-top: 4px;
  display: inline-block;
  float: left;
}

.netatmo .station .metric .quality {
  height: 12px;
  width: 12px;
  display: inline-block;
  float: left;
  margin-top: 6px;
  border-radius: 6px;
}

.netatmo .metric .value {
  display: inline-block;
  padding: 0 5px;
}

.netatmo .metric.prominent .value {
  padding: 0 5px 0 0;
}

.netatmo .metric.prominent .unit {
  font-size: 40px;
}

.netatmo .metric .unit {
  font-size: 20px;
}

.netatmo .metric .compass {
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid white;
  border-radius:  12.5px;
  vertical-align: middle;
  margin-left: 5px;
}

.netatmo .metric.prominent .compass {
  width: 28px;
  height: 28px;
  border-width: 4px;
  border-radius: 18px;
}

.netatmo .metric .compass .needle {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('/netatmo/resources/needle.png') no-repeat;
  background-size: contain;
}