.netatmo .container {
  text-align: center;
}

.netatmo .station {

}

.netatmo .metrics {
  float: left;
}

.netatmo .device {
  display: inline-block;
  width: 300px;
  height: 100%;
  vertical-align: top;
  text-align: left;
  margin: 0 10px;
}

.netatmo .device .name {
  font-size: 20px;
  color: #888;
}

.netatmo .temperature_outdoor {
  font-size: 60px;
}

.netatmo .temperature_indoor {
  font-size: 60px;
}

.netatmo .metric {
  float: left;
  position: relative;
  font-size: 20px;
  height: 25px;
  vertical-align: middle;
  padding: 2px 0;
  margin-right: 12px;
}

.netatmo .metric .icon {
  height: 20px;
  width: 20px;
  margin-top: 3px;
  display: inline-block;
  float: left;
  opacity: 0.5;
}

.netatmo .metric .value {
  display: inline-block;
  padding: 0 5px;
}

.netatmo .metric .unit {

}