
@font-face {
  font-family: "San Francisco";
  src: url("/sanfrancisco.otf");
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: none;  
}

html {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: "San Francisco";
  font-size: 20px;
}

.widget_container {
  padding-top: 20px;
  padding-bottom: 20px;  
  box-sizing: border-box;
  position: relative;
}

.widget {

}

.widget_container .error_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width:  100%;
  text-align: center;
  z-index: 100;
  color: red;
  font-size: 10px;
}

.widget:last-child {
  border-bottom: 0;
}