
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("/san-francisco.woff");
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: default;  
}

html {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: "San Francisco";
  font-size: 20px;
}

.widget {
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #000 0%, #888 50%, #000 100%);
  border-image-slice: 1;
}