.stocks .container {
  text-align: center;
}

.stocks .item {
  display: inline-block;
  text-align: left;
  margin-right: 40px;
}

.stocks .item .title {
  font-size: 20px;
  margin-bottom: 5px;
  color: #AAA;
}

.stocks .item .quote {
  display: inline-block;
  margin-right: 15px;
  font-size: 25px;
}

.stocks .item .quote.trend_up {
  color: #9ef442;
}

.stocks .item .quote.trend_down {
  color: #ff6842;
}

.stocks .item .quote .trend {
  display: inline-block;
  margin-right: 5px;
}

.stocks .item .quote .change {
  display: inline-block;
}

.stocks .item .quote .range {
  font-size: 15px;
  color: #AAA;
}