.weather .container {
  text-align: center;
}

.weather .container .day {
  display: inline-block;
  width: 150px;
}

.weather .container .day .icon {
  width: 50px;
  height: 50px;
  margin: 5px 0;
}

.weather .container .day .name {

}

.weather .container .day .temperatureMax {
  font-size: 30px;
}

.weather .container .day .temperatureMin {
  font-size: 20px;
  color: #888;
}

.weather .container .day .precipitationProbability {
  font-size: 15px;
  opacity: 0.25;
  background-image: url('/weather/resources/percipitation.png');
  background-size: 15px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 18px;
  display: inline;
}
